@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.App {
  text-align: center;
}

.full-height {
  display: flex; flex-flow: column;
  position: relative;
  flex: 1; width: 100%;
}

/* min-width: 1350px; min-height: 550px;
  max-width: 1350px; max-height: 550px; */
