.winnerCard__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    position: relative;
    width: 100%;
    /*Width is set in LeaderBoard grid*/
    padding-left: 10px;
    padding-right: 10px;
    transform: translateY(40%);
    transition: transform 1000ms ease-in-out,
        opacity 1000ms ease-in-out;
    opacity: 0;
    margin-top: 80px;

    --place-radius: 30px;
}

.first_place {
    height: 180px;
    padding-top: 20px;
    background-color: var(--first-place-bg);
    grid-column: 2/3;
    transition-delay: 2000ms;
}

.second_place,
.third_place {
    height: 140px;
    padding-top: 35px;
    grid-row: 1/2;
    background-color: var(--second-third-bg);
}

.second_place {
    grid-column: 1/2;
    transition-delay: 1000ms;
}

.third_place {
    grid-column: 3/4;
}

.winnerCard__container.show-winners {
    transform: translateY(0%);
    opacity: 1;
}


.image__container {
    display: inherit;
    flex-direction: inherit;
    position: absolute;
    top: -60px;
}

.image__container img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 5px solid;
}

.first_place img {
    border-color: var(--winner-gold);
}

.second_place img {
    border-color: var(--second-blue);
}

.third_place img {
    border-color: var(--third-green);
}

.first_place .winner__place {
    background-color: var(--winner-gold);
}

.second_place .winner__place {
    background-color: var(--second-blue);
}

.third_place .winner__place {
    background-color: var(--third-green);
}

.winner__place {
    position: absolute;
    color: white;
    background-color: var(--winner-gold);
    border-radius: 50%;
    width: var(--place-radius);
    height: var(--place-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.winner__data {
    display: inherit;
    flex-direction: inherit;
    color: white;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.winner__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 450px) {
    .winnerCard__container.first_place {
        height: 140px;
    }

    .winnerCard__container.second_place,
    .winnerCard__container.third_place {
        height: 100px;
        padding-bottom: 20px;
    }

    .winnerCard__container.second_place .image__container,
    .winnerCard__container.third_place .image__container {
        top: -70px;
    }

    .image__container {
        transform: scale(0.8);
    }

    .winner__data {
        font-size: 17px;
    }
}