.list-characters {
    width: max-content;
    height: max-content;
    display: flex;
    text-decoration: none;
    list-style: none;
    position: absolute;
    background-color: white;
    padding: 0px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: var(--blue-background);
    color: white;
    z-index: 0;
    transition: all 250ms ease-in-out 0ms;
    clip-path: circle(0% at 0% 0%);
}

.list-characters.show-characters {
    clip-path: circle(75%);
    transition: all 250ms ease-in-out 0ms, clip-path 250ms ease-in-out 200ms;
}
  
.list-characters li {
    list-style-position:inside;
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: transform 200px ease-in-out;
    background-color: var(--blue-background);
    border-top: 2px solid white;
}

.list-characters .first-li-element{
    border: none;
}

  
.list-characters .li-element:hover {
    background-color: var(--blue-background-hover);
}
  
.list-characters .li-element span {
    width: 50px;
    text-align: start;
}
  
.img__character-item {
    height: 40px;
    width: auto;
}