.leaderboard__container {
    width: 100%;
    background-color: #151729;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 0px 20px;
    overflow-x: hidden;

    --first-place-bg: #252a40;
    --second-third-bg: #1e2237;
    --winner-gold: #e4a100;
    --second-blue: #6cc5e7;
    --third-green: #44e38a;
}

.winners__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 150px));
    grid-template-rows: 1fr;
    gap: 0px;
    align-items: flex-end;
}

.players__container {
    display: flex;
    flex-direction: column;
    background-color: var(--first-place-bg);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    padding-top: 10px;
    border-radius: 20px;
}