.gallery__container {
    max-width: 1800px;
    width: 100%;
    height: calc(100vh - 180px);
    background-color: var(--menu-background);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    transition: 0.25s;
    padding: 0px 100px;
}

.gallery__container .gallery {
    position: relative;
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0) brightness(1.25);
}

.gallery__container:hover .gallery {
    filter: grayscale(1);
}

.gallery__container .gallery:hover {
    filter: grayscale(0) brightness(1.25);
}

.gallery__container:has(.one:hover) {
    grid-template-columns: 2fr 0.5fr 0.5fr;
}

.gallery__container:has(.two:hover) {
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

.gallery__container:has(.three:hover) {
    grid-template-columns: 0.5fr 0.5fr 2fr;
}

.gallery__container .gallery::before {
    content: '';
    position: absolute;
    top: -1px;
    width: 100%;
    height: calc(100% + 2px);
    background: linear-gradient(var(--menu-background), transparent, transparent, transparent, var(--menu-background));
}

/*
.gallery__container .gallery:nth-child(even) {
    transform: translateY(30px);
}

.gallery__container .gallery:nth-child(even) {
    transform: translateY(-30px);
}
*/

.gallery__container .gallery::after {
    content: attr(data-text);
    position: absolute;
    bottom: -100px;
    background-color: white;
    color: black;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    opacity: 0;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0003);
}

.gallery__container .gallery:hover::after {
    opacity: 1;
    bottom: -30px;
    transition-delay: 0.25s;
}


.gallery__container .one {
    background-image: url("https://res.cloudinary.com/dluwqcce9/image/upload/v1700413484/CyberpunkCity_dzadne.jpg");
}

.gallery__container .two {
    background-image: url("https://res.cloudinary.com/dluwqcce9/image/upload/v1700413483/RobotCity_jd1huq.jpg");
}

.gallery__container .three {
    background-image: url("https://res.cloudinary.com/dluwqcce9/image/upload/v1700413483/Universe113_pkl7sj.jpg");
}

.gallery__image-loader {
    position: absolute;
    opacity: 0;
    z-index: 0;
    width: 0px;
    height: 0px;
}

.loader__container {
    width: 100%;
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__games {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;
}

.carousel__game {
    display: flex;
    width: 100%;
    flex-direction: row;
    transition: transform 250ms ease-in-out;
    transform: translateX(0%);
    flex-shrink: 0;
    /*Permite que cada link ocupe todo el contendor*/
}

.carousel__games a {
    width: 100%;
    position: relative;
}

@media (min-height: 1000px) {
    .gallery__container {
        height: calc(100vh - 300px);
    }

    .loader__container {
        height: calc(100vh - 300px);
    }
}

@media (min-width: 1400px) {
    .gallery__container:has(.one:hover) {
        grid-template-columns: 1r 0.5fr 0.5fr;
    }

    .gallery__container:has(.two:hover) {
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }

    .gallery__container:has(.three:hover) {
        grid-template-columns: 0.5fr 0.5fr 1fr;
    }
}

@media (max-width: 600px) {
    .gallery__container {
        display: flex;
        flex-direction: row;
    }
}